.header {
  margin: 10px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(12, 12, 12, 0.8);
  background-color: rgba(28, 28, 184, 0.2);
}

.header h4 {
  color: rgba(255, 255, 255);
  margin-bottom: 10px;
}

.header .table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  color: rgba(0, 0, 0, 0.7);
  font-weight: bold;
}

.table th {
  background-color: rgba(113, 113, 113, 0.4);
}

.table tr:nth-child(even) {
  background-color: rgba(146, 146, 146, 0.4);
}
