.page {
  width: 100%;
  min-height: 100vh;
  background: rgb(196, 196, 229)
    url('./img/flat-lay-finances-elements-composition.jpg') center no-repeat;
  background-size: cover;
}

.App {
  width: 40%;
  margin: auto;
  padding-top: 20px;
  text-align: center;
}

h1 {
  font-size: 50px;
  margin-top: 20px;
}

button {
  padding: 15px;
  font-size: 30px;
  border-radius: 5px;
  border: 0;
  margin: 20px;

  cursor: pointer;

  transition: background-color 0.2s linear;
}

button:active {
  background-color: rgb(163, 159, 153);
}

.error-message {
  text-align: center;
  color: red;
}

.loading-message {
  text-align: center;
  color: aliceblue;
}

@media (max-width: 720px) {
  .App {
    width: 100%;
  }
}
